#container {
	background-color: #EDE9E1;
}

#nav {
	list-style-type: none;
	padding: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
	display: block;
    background-color: #D6CEC4;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: "Miranda Sans", sans-serif;
    padding: 10px;
	color: #716658;
}

#nav a:hover, a:active {
	background-color: #C7BFB4;
}

.intro {
	font-family: "Miranda Sans", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: <weight>;
  	font-style: normal;
  	color: #716658;
  	font-size: 18px;
}

.intro1 {
	font-family: "Libertinus Serif Display", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	color: #716658;
  	font-size: 20px;
  	a[href^="mailto:"] {
  		color: #716658;
  	}
}

h1 {
	font-family: "Libertinus Serif Display", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	color: #716658;
}

h2 {
	font-family: "Libertinus Serif Display", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	color: #716658;
  	font-size: 2em;
}

.aslogo {
	width: 150px;
	margin: 0 auto;
}

#port-nav li{
  	list-style: none;
  	padding: 0;
	font-family: "Miranda Sans", sans-serif;
	color: #716658;
	a:link {
		color: #716658;
	}
	a:visited {
		color: #716658;
	}
}

#port-nav li{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px;
}

.logo {
	background: #D6CEC4;
	display: grid;
	place-items: center;
}

footer {
	color: #716658;
	font-family: "Miranda Sans", sans-serif;
	background-color: #D6CEC4;
}

.return {
	font-family: "Miranda Sans", sans-serif;
	a:link {
		color: #716658;
	}
	a:visited {
		color: #716658;
	}
}

@media screen and (min-width: 300px) {

	.images {
		margin: 0 auto;
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

}

@media screen and (min-width: 900px) {

	#nav {
	  display: flex;
  	flex-flow: row;
  	align-items: center; 
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	background: #D6CEC4;
	}

	#nav li {
  	margin-right: 15px;
	}

	#nav a {
  	font-size: 16px;        
  	line-height: 50px;      
  	text-decoration: none;
	}

	#nav img {
  	display: block;
	} 

	.images {
		margin: 0 auto;
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}

	#port-nav {
  		display: grid;
  		grid-template-columns: repeat(2, 1fr); 
  		list-style: none;
  		padding: 0;
  		margin: 0;
}

#port-nav li {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

}

@media screen and (min-width: 1500px) {

	#nav {
	  display: flex;
  	flex-flow: row;
  	align-items: center; 
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	background: #D6CEC4;
	}

	#nav li {
  	margin-right: 15px;
	}

	#nav a {
  	font-size: 16px;        
  	line-height: 50px;      
  	text-decoration: none;
	}

	#nav img {
  	display: block;
	} 

	.images {
		margin: 0 auto;
		max-width: 1500px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}

}

@media screen and (min-width: 2000px) {

	#nav {
	  display: flex;
  	flex-flow: row;
  	align-items: center; 
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	background: #D6CEC4;
	}

	#nav li {
  	margin-right: 15px;
	}

	#nav a {
  	font-size: 16px;        
  	line-height: 50px;      
  	text-decoration: none;
	}

	#nav img {
  	display: block;
	} 

	.images {
		margin: 0 auto;
		max-width: 2000px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}

}


	/*
	font-family: "Miranda Sans", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: <weight>;
  	font-style: normal; */

  	/*
  	font-family: "Libertinus Serif Display", system-ui;
  	font-weight: 400;
  	font-style: normal;
  	*/




  	/*#port-nav li {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-template-areas:
		"a b"
		"c d"
		"e .";
	}

.CERAMICS {
	grid-area: a;
}

.DRAWINGS {
	grid-area: b;
}

.JEWELRY {
	grid-area: c;
}

.PAINTINGS {
	grid-area: d;
}

.GRAPHIC-DESIGN {
	grid-area: e;
}*/

